*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {   
    background-color: white;    
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    padding: 80px;
    background-color: black;
    color: white;
    text-align: center
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
    width: 100%;
}

li {    
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 120px);
    align-items: center;
}

.hero-text {
    margin-left: 80px;
}

.button {
    width: 200px;
    height: 55px;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef774b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.logo {
    margin: 20px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    margin: 10px;
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(182, 179, 179);
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    margin-top: 20px;
}

hr {
    margin: 10px 20px;
}

.project-link {
    text-decoration: none;
    color: #ef774b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {    
    display: none;
}

@media only screen and (max-width: 576px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 15px;
    }

    ul {
        display: none;
    }

    .logo {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        
    }
    
}